<div class="box mt-3 mb-5">
  <h1 class="is-size-1 mb-5"><%= @recipe.title %></h1>
  <p class="tag is-black mb-5">Calories: <%= @recipe.calories %></p>
  <% if defined?(@recipe.tags) %>
    <% @recipe.tags.each do |tag| %>
      <span class="tag is-gray mb-5"><%= tag.name.titleize %></span>
    <% end %>
  <% end %>
  <div class="has-text-centered">
    <%= image_tag(@recipe.photo.url, class: "mb-5") %>
  </div>
  <div class="mt-3 mb-3">
    <%=raw @renderer.render(@recipe.description).html_safe %>
  </div>
</div>
